<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangchi.xiangchiproject.costDetail.mysql.CostDetailMapper">
    <resultMap id="costDetailMap" type="com.xiangchi.xiangchiproject.costDetail.po.CostDetailPo">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="otherType" column="other_type"/>
        <result property="cost" column="cost"/>
        <result property="projectOrderId" column="project_order_id"/>
        <result property="comment" column="comment"/>
    </resultMap>

    <sql id="columns">
        `id`, `type`, `other_type`, `cost`, `project_order_id`, `comment`
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="po.id">
        insert into cost_detail
        (`type`, `other_type`, `cost`, `project_order_id`, `comment`)
        value
        (#{po.type}, #{po.otherType}, #{po.cost}, #{po.projectOrderId}, #{po.comment})
    </insert>

    <update id="update">
        update cost_detail
        set `type` = #{po.type}, `other_type` = #{po.otherType}, `cost` = #{po.cost}, `project_order_id` = #{po.projectOrderId}, `comment` = #{po.comment}
        where `id` = #{po.id} and `is_deleted` = 0
    </update>

    <update id="delete">
        update cost_detail
        set `is_deleted` = 1
        where `id` in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="pageByParam">
        select <include refid="columns"/>
        from cost_detail
        where `is_deleted` = 0
        <include refid="paramSql"/>
        order by
        <choose>
            <when test="param.orderByCost != null and param.orderByCost == 1">
                `cost`
            </when>
            <otherwise>
                `id`
            </otherwise>
        </choose>
        <choose>
            <when test="param.orderByCostOrder != null and param.orderByCostOrder == 0">
                desc
            </when>
            <when test="param.orderByCostOrder != null and param.orderByCostOrder == 1">
                asc
            </when>
            <otherwise>
                desc
            </otherwise>
        </choose>
    </select>

    <select id="countByParam" resultType="Integer">
        select count(*)
        from cost_detail
        where is_deleted = 0
        <include refid="paramSql"/>
    </select>

    <sql id="paramSql">
        <if test="param.typeList != null and param.typeList.size() > 0">
            and `type` in
            <foreach collection="param.typeList" item="type" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>
        <if test="param.otherTypeList != null and param.otherTypeList.size() > 0">
            and `other_type` in
            <foreach collection="param.otherTypeList" item="other_type" open="(" close=")" separator=",">
                #{other_type}
            </foreach>
        </if>
        <if test="param.projectOrderId != null">
            and `project_order_id` = #{param.projectOrderId}
        </if>
    </sql>
</mapper>